*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background: #fff;
    color: black;
    font-size: 14px;
    line-height: 28px;
}

.top-navbar{
    display: flex;
    width: 100%;
    margin: 5px auto 5px;
}

.column{
        margin: 0 20px;
        width: 300px;
        height: 50px;
}



 .logo{
    width: 100px;
    height: 50px;
    margin: 0 0 0 150px;  
    padding: 6px; 
    
}

 
.searchbox{
    padding: 10px 0;
    margin: 0 150px;
}


.img{
    width: 35px;
    height: 24px;
}

.image{
    padding: 10px 0;
    margin-left: 200px;
}

